body {
    background: rgb(232, 232, 232);
}

.headerStyle{
    display: flex;
    background: rgb(60, 60, 187);
    justify-content: center;
    

}

.header {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


h1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    vertical-align: middle;
    font-size: 36pt;
    color: rgb(232, 232, 232);
    margin: 5px;
    width: 100%;
    height: 175px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

h2 {
    font-size: 32pt;
    color: rgb(25, 25, 114);
}

p {
    font-size: 14pt;
}

h3 {
    font-size: 32pt;
    color: rgb(25, 25, 114);
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 16pt;
    width: 100%
   

}

.pageLinks {
    margin: 0;
    width: 15%;
    text-align: center;
}


#profilePicture {
    width: 119px;
    height: 175px;
    padding: 5px;
       

}

.workMain {
    display: flex;
    flex-direction:column;
    justify-content: center;
        
}

@media (min-width: 1074px){
    .workMain{
        flex-direction: row;
    }
    .workOther{
        flex-direction: row;
    }
} 

.workMain div{
    position: relative;
}

.workMain div p{
    position: absolute;
    background: rgb(60, 60, 187);
    color: rgb(232, 232, 232);
    padding: 5px;
    box-shadow: 5px 5px #000;
}

#mw1 {
    margin: 10px 10px;
    width: 680px;
    height: 400px;
}

.workOther {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
    height: 50%;
    
}

.workOther div{
    position: relative;
}

.workOther div p{
    position: absolute;
    background: rgb(60, 60, 187);
    color: rgb(232, 232, 232);
    padding: 5px;
    box-shadow: 5px 5px #000;
}

.workPlus {
    margin: 10px 10px;
    width: 150px;
    height: 200px;

}

#contact{
    Display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: rgb(60, 60, 187);
    font-size: 22px;
    color: rgb(232, 232, 232);

}

